<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="modules/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>

<body>
  <div class="wrapper">
    <!-- ===== header start ===== -->
    <%- include('./blocks/header') %>
      <!-- ===== header end ===== -->

      <main>
        <div class="container">
          <div class="notFound">
            <h1>404 not found</h1>
            <a href="/"><button class="btn btn-warning">WAY TO HOME</button></a>
          </div>
        </div>
      </main>

      <!-- ===== footer start ===== -->
      <%- include('./blocks/footer') %>
        <!-- ===== footer end ===== -->
  </div>
</body>

</html>