<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- css -->
  <link rel="stylesheet" type="text/css" href="modules/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>

<body>
  <div class="wrapper">
    <!-- ===== header start ===== -->
    <%- include('./blocks/header') %>
      <!-- ===== header end ===== -->

      <main>
        <div class="container">
          <h1>About</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero possimus, molestias a esse delectus
            voluptates nobis laboriosam recusandae quisquam pariatur eius commodi cumque nesciunt aspernatur illum
            magnam ut dignissimos? Maiores.</p>
        </div>
      </main>

      <!-- ===== footer start ===== -->
      <%- include('./blocks/footer') %>
        <!-- ===== footer end ===== -->
  </div>
</body>

</html>