<header class="header">
  <nav class="navbar bg-dark">
    <div class="container">
      <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/posts">Posts</a>
        <a href="/profile">Profile</a>
      </div>
      <form action="/logout?_method=DELETE" method="POST">
        <button class="btn btn-warning" type="submit">Sign out</button>
      </form>
    </div>
  </nav>
</header>